# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
venv/
.env/
.env.*

# Airflow
airflow.db
airflow.cfg
logs/
unittests.cfg

# Jupyter
.ipynb_checkpoints/

# Data files
data/
*.csv
*.parquet

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
*.key
*.pem
*.env

